{
    "info": {
        "app_name": "WebApp",
        "url": "/csmc_front/",
        "image": "/csmc_front/static/app.image.jpg",
		"webmaster_email": "geral@csmcprojects.eu"
    },
    "html": {
		"charset": "utf-8",
		"viewport": "width=device-width, initial-scale=1.0, user-scalable=no",
		"generator": "CSMC Projects",
		"base": "/index.php",
		"favicon": "favicon.ico",
        "user_lang": "en",
        "description": "This is a web app.",
        "atst": "WebApp",
        "amwac": "yes",
		"mwac": "yes",
        "amawsbs": "black-translucent",
		"cti192": "",
        "ati": ""
    },
    "database": {
		"omysqli": {
			"host": "localhost",
			"user": "root",
			"pass": "1234",
			"db": "multicon"
		}
    },
    "salt": "da$gR&/3$|!naerBr$%!#%gs#%RG",
    "startup" : {
		"namespace": "webapp",
        "classname": "model",
        "method": "myfunc"
	},
    "timezone": "Europe/Lisbon"
}