{
    "info": {
        "app_name": "WebApp",
        "url": "/csmc_front/",
        "image": "/csmc_front/static/app.image.jpg",
		"webmaster_email": ""
    },
    "html": {
		"charset": "utf-8",
		"viewport": "width=device-width, initial-scale=1.0, user-scalable=no",
		"generator": "",
		"base": "/index.php",
		"favicon": "favicon.ico",
        "user_lang": "en",
        "description": "This is a web app.",
        "atst": "WebApp",
        "amwac": "yes",
		"mwac": "yes",
        "amawsbs": "black-translucent",
		"cti192": "",
        "ati": ""
    },
    "database": {
		"omysqli": {
			"host": "",
			"user": "",
			"pass": "",
			"db": ""
		}
    },
    "salt": "da$gR&/3$|!naerBr$%!#%gs#%RG",
    "startup" : {
		"namespace": "",
        "classname": "",
        "method": ""
	},
    "timezone": "Europe/Lisbon"
}