{
    "info": {
        "app_name": "CSMC Projects",
        "url": "http://csmcprojects.eu/",
        "image": "http://csmcprojects.eu/static/app.image.jpg",
		"webmaster_email": ""
    },
    "html": {
		"charset": "utf-8",
		"viewport": "width=device-width, initial-scale=1.0, user-scalable=no",
		"generator": "",
		"base": "/index.php",
		"favicon": "favicon.ico",
        "user_lang": "en",
        "description": "CSMC Projects",
        "atst": "CSMC Projects",
        "amwac": "yes",
		"mwac": "yes",
        "amawsbs": "black-translucent",
		"cti192": "",
        "ati": ""
    },
    "database": {
		"omysqli": {
			"host": "localhost",
			"user": "root",
			"pass": "",
			"db": "dx1dvwuo_csmc"
		}
    },
    "salt": "f$&Y4wesdhg23!%$WQ3ERFsdtgfREA",
    "startup" : {
		"namespace": "csmc",
        "classname": "articles",
        "method": "section",
        "params":"eletronics"
	},
    "loggedInStartup" : {
        "namespace": "csmc",
        "classname": "articles",
        "method": "section",
        "params":"biology"
    },
    "timezone": "Europe/Lisbon"
}